@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #64227e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
nav { 
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  align-items: center; 
  font-size: xx-large;
  cursor: pointer;   
  gap: 2rem;
  .nav{
    font-size: 2rem;
  }
}
.anime-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div {

    margin: 10px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      text-align: center;
    }
    img {
      height: 300px;
      width: 300px;
    }
  }
}

.loading {
  font-size: 5rem;
}